<footer class="page-footer elegant-color center-on-small-only">
    <div class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid">
            © 2016 Copyright: <a href="http://www.swendrowski.us"> swendrowski.us </a>
        </div>
    </div>
</footer>