@using FluentBootstrap

@using (Html.Bootstrap().Container().Begin())
{
    <h1>Home</h1>
    <hr />
    <p>Hi, this paragraph has a little bit about me - it's neat</p>
    <h2>Posts</h2>

    using (var row = Html.Bootstrap().GridRow().Begin())
    {
        using (row.GridColumn().SetSm(4).Begin())
        {
            <text>
                @Html.Partial("_Categories.cshtml")
            </text>
        }
        using (row.GridColumn().SetSm(8).Begin())
        {
            foreach (var doc in Documents["Posts"].OrderBy(x => x["Title"]))
            {
                <div>
                    <div class="card red darken-1 hoverable">
                        <div class="red lighten-2 text-center">
                            <small>@doc["Published"]</small>
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title">@doc["Title"]</span>
                            <a class="btn-floating btn-large waves-effect waves-light red accent-2"><i class="material-icons">star</i></a>
                        </div>
                        <div class="card-action red accent-4">
                            <a class="elegant-color-text waves-effect" href="@doc["PostFile"]">Read More</a>
                        </div>
                    </div>
                </div>
            }
        }
    }
}